<?php $_categories = $this->getSubCategories(); ?>

<?php if (count($_categories)): ?>

  <ul class="mr-list-categoy-thumbnail">
    <?php foreach ($_categories as $_category): ?>

      <li class="list-item-category-thumbnail">
        <a href="<?php echo $_category->getUrl() ?>" class="category-thumbnail-link">
          <?php if ($_category->getThumbnail()): ?>
            <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'catalog/category/' . $_category->getThumbnail() ?>"
                 alt="<?php echo $this->escapeHtml($_category->getName()) ?>">
          <?php else: ?>
            <img src="<?php echo $this->getSkinUrl('images/logo.png')?>" alt="<?php echo $this->getLogoAlt() ?>" class="large" alt="<?php echo $this->escapeHtml($_category->getName()) ?>"/>
          <?php endif; ?>
        </a>

        <h2 class="subcategory-name">
          <?php echo $this->escapeHtml($_category->getName()) ?>
        </h2>
      </li>

    <?php endforeach; ?>
  </ul>

<?php endif; ?>
